<div class="mt-2 ">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'user'}}active{{/ifCond}} " href="/admin/backside">使用者</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'category'}}active{{/ifCond}}" href="/admin/categories">分類</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'unit'}}active{{/ifCond}}" href="/admin/units">計量單位</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'record'}}active{{/ifCond}}" href="/record/itemUseRecord">紀錄</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'itemList'}}active{{/ifCond}}" href="/admin/itemList">物品清單</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'instrument'}}active{{/ifCond}}" href="/admin/instrument">儀器設備</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'config'}}active{{/ifCond}}" href="/admin/config">設定</a>
    </li>
  </ul>
</div>