<div class="mt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'consumablesGC'}}active{{/ifCond}}" href="/item/consumablesGC">GC耗材</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'consumablesLC'}}active{{/ifCond}}" href="/item/consumablesLC">LC耗材</a>
    </li>
  </ul>
</div>