<footer class="footer mt-auto py-3 bg-light">
  <div class="container text-center">
    <span class="text-muted">Copyright ©{{ currentYear }} <span style="color: blue;">PUSHENG CHANG</span></span>
  </div>
  <div class="container text-center">
    <span style="color:red">
      請使用平板/電腦登入</span>
  </div>
</footer>