<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark px-4">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">實驗室庶務管理</a>
      {{#if user}}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse"
        aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav ms-auto mb-2 mb-md-0">
          {{#if user.isAdmin}}
          <li class="nav-item">
            <a href="/admin/backside" class="nav-link">後台管理</a>
          </li>
          {{/if}}
          <li class="nav-item d-inline-flex align-items-center">
            <span class="text-white nav-link">Hi, {{ user.name }}</span>
          </li>
          <li class="nav-item">
            <a href="/users/logout"><button class="btn btn-outline-warning my-sm-0 my-2">登出</button></a>
          </li>
        </ul>
        {{else}}
        <li class="nav-item">
          <a href="/users/signin"><button class="btn btn-outline-warning my-sm-0 my-2">登入</button></a>
        </li>
      </div>
      {{/if}}
    </div>
  </nav>
</header>