<div class="mt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'home'}}active{{/ifCond}}" href="/">最新動態</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'normalSolven'}}active{{/ifCond}}" href="/item/normalSolven">溶劑</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'consumables'}}active{{/ifCond}}" href="/item/consumablesGC">耗材</a>
    </li>
  </ul>
</div>