<div class="mt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'home'}}active{{/ifCond}}" href="/">最新動態</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'category'}}active{{/ifCond}}" href="/item/category">品項分類</a>
    </li>
  </ul>
</div>