<div class="mt-2 ">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'itemUseRecord'}}active{{/ifCond}}" href="/record/itemUseRecord">使用紀錄</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'itemBuyRecord'}}active{{/ifCond}} " href="/record/itemBuyRecord">購買紀錄</a>
    </li>
  </ul>
</div>