<div class="mt-2">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'normalSolven'}}active{{/ifCond}}" href="/solven/normalSolven">一般溶劑</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {{#ifCond route 'toxic'}}active{{/ifCond}}" href="/solven/toxic">毒化物</a>
    </li>
  </ul>
</div>