<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../stylesheets/bootstrap.min.css">
  <title>實驗室耗材溶劑管理</title>
</head>

<body>
  <main role="main">
    <div class="album bg-light pt-5">
      <div class="container">
        {{{body}}}
      </div>
    </div>
  </main>

  <script src="../../javascript/bootstrap.min.js"></script>
</body>

</html>