<!DOCTYPE html>
<html lang="en" class="h-100">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../../stylesheets/bootstrap.min.css">
  <link rel="stylesheet" href="../../stylesheets/displayRWD.css">

  <title>實驗室溶劑耗材管理</title>
</head>

<body class="d-flex flex-column h-100 bg-light">
  {{>header}}
  <main class="flex-shrink-0 " role="main">
    <div class="album bg-light container pt-3">
      <div class="pt-5 ">
        {{>messages}}
        {{{body}}}
      </div>
    </div>
  </main>
  {{>footer}}

  <script src="../../javascript/jquery.min.js"></script>
  <script src="../../javascript/popper.min.js"></script>
  <script src="../../javascript/bootstrap.min.js"></script>
  <script src="../../javascript/shoppingList.js"></script>
  <script src="../../javascript/chart.min.js"></script>
  <script src="../../javascript/chartjs-plugin-annotation.min.js"></script>
  <script src="../../javascript/chartRender.js"></script>
  <script src="../../javascript/changeChartType.js"></script>
</body>

</html>