<div class="container">


  {{>admin-tab route = 'record'}}
  <div class="mt-3">
    {{>record-tab route ='itemUseRecord' }}

    <div class="row">

      {{#each consumablesLC}}
      {{>share-item}}
      {{/each}}


    </div>

  </div>