<div id="container">

  <div class="row mt-3">

    <div class="col-md-4 m-auto">
      <div class="card card-body">

        <div class="input-group-text justify-content-center fs-4 fw-bold mt-2">入庫</div>
        <hr>
        




      </div>
    </div>
  </div>

</div>