<div class="container">
  {{>home-tab route='normalSolven'}}
  <div class="mt-3">
    {{>item-tab route ='toxic' }}
    <div class="mt-3">
      <a href="/item/create" class="btn btn-outline-primary btn-block">新增品項</a>
    </div>
    <div class="row">
      {{#each toxicSolven}}
      {{>share-item}}
      {{/each}}
    </div>
  </div>